// not hooked up yet
// styleguide: color_attributes
// sort light to dark descending

// BLUES
$blue_sky: #009bbc;
$blue_sky_mid: #88dde7;
$blue_sky_light: #b9ffff;

$blue_mid: #007dac;
$blue_navy: #325f8d;

$indigo: #444466;
$indigo_med: #727a98;
$indigo_mid: #a7b3cb;
$indigo_light: #e2efff;

// GREENS
$green_blue: #00b9b9;

$green_clean: #00d4a4;
$green_clean_mid: #a5f2df;
$green_clean_light: #dafff7;

$green_slime: #63eb83;

// GRAYS
$white: #fff;
$white_gray: #ddd;

$gray_neutral_medium: #dedede;
$gray_neutral: #666;

$gray_warm_light: #ddddee;
$gray_warm_medium: #ccaacc;
$gray_link: #887788;

$black_warm: #333;