.DS_Store
pipeline/data/aa_sequence_analysis/plotcache.p
*.pyc
*~
*.swp
.ipynb_checkpoints
notebooks/mibig/*
screenlog.*
clusterCAD/settings.py
notebooks/*

retrotide/node_modules
retrotide/build
retrotide/package-lock.json