.DS_Store
pipeline/data/aa_sequence_analysis/plotcache.p
*.pyc
*~
*.swp
.ipynb_checkpoints
notebooks/mibig/*
screenlog.*
clusterCAD/settings.py
notebooks/*
retrotideUI/node_modules
retrotideUI/build
retrotideUI/package-lock.json