version: '2'

services:
  rabbit:
    hostname: rabbit
    image: rabbitmq:3.7
    environment:
        - RABBITMQ_DEFAULT_USER=admin
        - RABBITMQ_DEFAULT_PASS=mypass
        - RABBITMQ_DEFAULT_VHOST=clusterCAD
    ports:
        - "5672"


  celery:
    restart: always
    image: tbackman/debian-cheminformatics:debian10
    volumes:
      - .:/clusterCAD
      - /www/static
      - /www/media
    links:
        - rabbit

    environment: &env      
      - CELERY_BROKER_URL=amqp://admin:mypass@rabbit:5672/clusterCAD

    depends_on:
        - rabbit
        - db
        - redis
        - web
    working_dir: /clusterCAD

    command: [celery, -A, clusterCAD, worker, -l, info, --loglevel=INFO]

    
  db:
    user: postgres
    # postgres internal port is 5432
    restart: always
    image: tbackman/debian-cheminformatics:debian10
    command: ["/usr/lib/postgresql/11/bin/postgres", "-D", "/var/lib/postgresql/11/main", "-c", "config_file=/etc/postgresql/11/main/postgresql.conf"]
    volumes:
      - app-db-data:/var/lib/postgresql/11/main

  redis:
    restart: always
    image: redis:3.2-alpine 

  # this is ClusterCAD
  web:
    restart: always
    image: tbackman/debian-cheminformatics:debian10
    volumes:
      - .:/clusterCAD
      - /www/static
      - /www/media
    expose:
      - "8000"
    # ports:
    #   - "8888:8888"
    depends_on:
      - db
      - redis
    working_dir: /clusterCAD
    command: ["./wait-for-it.sh", "db:5432", "--", "./entrypoint.sh"]

  nginx:
    restart: always
    build: ./nginx/
    ports:
      - "8000:80"
    volumes:
      - /www/static
      - /www/media
    volumes_from:
      - web
    links:
      - web:web

  react:
    build:
      context: retrotide
      dockerfile: Dockerfile
    # react-scripts bugfix, interactive mode is required
    stdin_open: true
    tty: true
    volumes: 
      - .:/retrotide/app
      - /retrotide/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: npm start

volumes:
  app-db-data:
