.button {
  text-decoration: none;
  font-size: 14px;
  color: $indigo;
  padding: 5px 10px;
  background-color: $blue_sky_mid;
  border-radius: 5px;
  border: 1px solid $gray_neutral_medium;
  display: inline-block;
  margin: 15px 0px;
  &:disabled {
    background-color: $white_gray;
    color: $gray_neutral;
  }
}

.Navbutton {
  cursor: pointer;
  display: block;
  flex: 3;
  text-decoration: none;
  color: $indigo;

  &.activeTab {
    cursor: not-allowed;
    font-weight: bold;
    background-color: $indigo_light;
  }
}

.smilesButton, .drawerButton {
  background-color: $gray_neutral_medium;
  border-radius: 0;
  flex: 1;
  margin: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 0;
  &.selected {
    background-color: $blue_sky;
    color: $blue_sky_light;
    border: 1px solid $gray_neutral_medium;
  }
}

.submit {
  background-color: $blue_sky;
  color: $blue_sky_light;
}

.submit, .clear {
  display: inline-block;
  margin-left: 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  color: $indigo;
}