.form {
  text-align: left;
  padding: 0px 80px;
  margin-bottom: 100px;
}

.DomainSearch {
  text-align: center;
}

.inputSelector {
  display: flex;
  padding: 0px 60px;
  border-bottom: 1px solid $gray_neutral_medium;
}

.smilesInput {
  width: 300px;
}

.errorField {
  color: red;
  display: block;
  text-align: left;
  font-weight: bold;
}

iframe {
  width: 800px;
  height: 1200px;
}