.ModuleListWrapper {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.ModuleBuilder {
  border: 1px solid #333;
  border-radius: 6px;
  overflow: hidden;
  padding: 12px;
  margin: 12px;
  max-width: 630px;
  &.removing {
    * {
      display: none;
    }
    margin: 0;
    padding: 0;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transform: scaleX(0);
    background-color: $blue_sky;
    width: 0;
  }
}

.DomainSandbox {
  margin:  12px;
  border: 1px solid #ddd;
  padding:  12px;
}

.DomainWrapper {
  display:  inline-block;
  border:  1px solid #ccc;
  padding: 12px;
  border-radius:  6px;
  width:  63px;
}

.DomainHeader {
  text-align: left;
  display: flex;
  .DomainTitle :nth-child(1) {
    font-weight: bold;
  }
  .DomainHeaderButton {
    flex: 3;
    text-align: right;
    button {
      margin-top: 0px;
    }
  }
}