{% extends "base.html" %}

{% load domainFilters %}

{% block js_content %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    $("[data-toggle=popover]").popover({ trigger: 'hover' });
});
</script>
{% endblock %}

{% block subtitle %}
sequence hits
{% endblock %}

{% block content %}
<h2>Subunit amino acid sequence blastp hits</h2>

<div class="row-fluid">
<div class="col-md-12">
<dl class="dl-horizontal">
<dt>Query residues</dt>
<dd>
{{ queryResidues }}
</dd>
<dt>Maximum E-value</dt>
<dd>{{ evalue }} </dd>
<dt>Max hits returned</dt>
<dd>{{ maxHits }}</dd>
<dt>Show domains</dt>
<dd>{% if showAllDomains %}All domains in modules overlapping alignment{% else %}Only domains overlapping alignment{% endif %}</dd>
<dt>Sort output HSPs</dt>
<dd>{% if sortOutput %}Order HSPs by bit score{% else %}Group HSPs by subunit (blast default){% endif %}</dd>
</dl>
</div>
</div><!--/row-->

<script>
$(document).ready(function(){
    $('[data-domainselect]').change(function(){
       var domain = $(this).attr("data-domainselect");
       var types = $(this).selectpicker('val');
       $('[data-domain="' + domain + '"]').attr("style", "padding: 0; background-color: transparent;"); 
       $.each(types, function(index,value){
            if (value){
                $('[data-domain="' + domain + '"][data-type="' + value + '"]').attr("style", "padding: 0; background-color: orange;"); 
            }
       });
    });
});
</script>

<div class="row-fluid">
<div class="btn-group" role="group">

  {% if atsubstrates|length > 0 %}
  <div class="btn-group" role="group">
    <select data-domainselect="AT" class="selectpicker" data-style="btn btn-default" multiple data-actions-box="true" title="Highlight AT substrates" data-selected-text-format="count">
      {% for substrate in atsubstrates %}
      <option value="{{ substrate }}">AT substrate {{ substrate }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  {% if krtypes|length > 0 %}
  <div class="btn-group" role="group">
    <select data-domainselect="KR" class="selectpicker" data-style="btn btn-default" multiple data-actions-box="true" title="Highlight KR types" data-selected-text-format="count">
      {% for type in krtypes %}
      <option value="{{ type }}">KR type {{ type }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  {% for domaintype in boolDomains %}
  <div class="btn-group" role="group">
    <select data-domainselect="{{ domaintype.0 }}" class="selectpicker" data-style="btn btn-default" multiple data-actions-box="true" title="Highlight {{ domaintype.0 }} types" data-selected-text-format="count">
      {% for type in domaintype.1 %}
      <option value="{{ type }}">{{ domaintype.0 }} type {{ type }}</option>
      {% endfor %}
    </select>
  </div>
  {% endfor %}

  {% if tetypes|length > 0 %}
  <div class="btn-group" role="group">
    <select data-domainselect="TE" class="selectpicker" data-style="btn btn-default" multiple data-actions-box="true" title="Highlight TE types" data-selected-text-format="count">
      {% for type in tetypes %}
      <option value="{{ type }}">TE type {{ type }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

</div>
</div>

<div class="row-fluid">
<div class="col-md-12">
<table class="table table-hover">
<thead>
<tr>
    <th class="text-right">
        Hit 
    </th>
    <th>
        Cluster
    </th>
    <th>
        Subunit
    </th>
    {% if not sortOutput %}
    <th class="text-right">
        HSP
    </th>
    {% endif %}
    <th class="text-right">
       E-value 
    </th>
    <th class="text-right">
       Bit 
    </th>
    <th class="text-right">
       Query 
    </th>
    <th class="text-right">
       Subject 
    </th>
    <th class="text-right">
        Modules (domains)
    </th>
</tr>
</thead>
<tbody>
{% for alignment in alignments %}
<tr class="clickable-row" data-container="body" data-href="/pks/{{ alignment.subunit.cluster.mibigAccession }}/{% if alignment.hsps.0.modules|length > 0 %}?mark={% for module in alignment.hsps.0.modules %}{% if forloop.counter != 1 %},{% endif %}{{ module.module.order }}{% endfor %};{% endif %}#{{ alignment.subunit.name }}">
        <td class="text-right" rowspan="{{ alignment.hsps|length }}">
            {{ forloop.counter }}
        </td>
        <td rowspan="{{ alignment.hsps|length }}">
            {{ alignment.subunit.cluster.mibigAccession }}
            {{ alignment.subunit.cluster.description }}
        </td>
        <td rowspan="{{ alignment.hsps|length }}">
            {{ alignment.subunit.name }}
        </td>
        {% for hsp in alignment.hsps %}
            {% if forloop.counter != 1 %}
            <tr class="clickable-row" data-container="body" data-href="/pks/{{ alignment.subunit.cluster.mibigAccession }}/{% if hsp.modules|length > 0 %}?mark={% for module in hsp.modules %}{% if forloop.counter != 1 %},{% endif %}{{ module.module.order }}{% endfor %};{% endif %}#{{ alignment.subunit.name }}">
            {% endif %}
            {% if not sortOutput %}
            <td class="text-right">
                {{ forloop.counter }}
            </td>
            {% endif %}
            <td class="text-right">
                {{ hsp.hsp.expect|sigfig }}
            </td>
            <td class="text-right">
                {{ hsp.hsp.bits }}
            </td>
            <td class="text-right">
                {{ hsp.hsp.query_start }}..{{ hsp.hsp.query_end }}
            </td>
            <td class="text-right">
                {{ hsp.hsp.sbjct_start }}..{{ hsp.hsp.sbjct_end }}
            </td>
            <td class="text-right">
            {% if hsp.modules|length == 0 %}
                N/A
            {% endif %}
            {% for module in hsp.modules %}{% if forloop.counter != 1 %}<br/>{% endif %}{{ module.module.order }} ({% for domain in module.domains %}{% if forloop.counter != 1 %}, {% endif %}<mark data-domain="{{ domain|classname }}" {% if domain|classname == "KR" %}data-type="{{ domain.type }}"{% elif domain|classname == "AT" %}data-type="{{ domain.substrate }}"{% else %}data-type="{{ domain }}"{% endif %} style="padding:0; background-color: transparent;">{{ domain|classname }}</mark>{% endfor %}){% endfor %}
            </td>
        {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}
