.form {
  text-align: left;
  padding: 0px 80px;
  margin-bottom: 100px;
}

.inputSelector {
  display: flex;
  padding: 0px 60px;
  border-bottom: 1px solid #edd;
}

.smilesInput {
  width: 300px;
}

.errorField {
  color: red;
  display: block;
  text-align: left;
  font-weight: bold;
}