{% extends "base.html" %}
{% load domainFilters %}

{% block subtitle %}
{{ cluster.description }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>{{ cluster.description }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-4">
        <dl>
            <dt>MIBiG accession</dt>
            <dd><a href="http://mibig.secondarymetabolites.org/repository/{{ cluster.mibigAccession|stripTrailingVersion }}/index.html#cluster-1">{{ cluster.mibigAccession }}</a></dd>

            <dt>GenBank accession</dt>
            <dd><a href="https://www.ncbi.nlm.nih.gov/nuccore/{{ cluster.genbankAccession|stripTrailingVersion }}">{{ cluster.genbankAccession }}</a></dd>
        </dl>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="atcheck">Show AT annotations 
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="krcheck">Show KR annotations 
            </label>
          </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <dl>
            <dt>Known final product</dt>
        <dd>
        {% with architecture|last as lastsubunit %}
            {% with lastsubunit.1|last as lastmodule %}
                <img style="width: 100% \9;" alt="Known final product" data-smilesq="{{ cluster.knownProductSmiles|urlq }}" data-smiles="{{ cluster.knownProductSmiles }}" src="/compounddb/renderer/{{ cluster.knownProductSmiles|urlq }}/{{ cluster.knownProductMCS|urlq }}?align=False;smarts=True;"/> 
            {% endwith %}
        {% endwith %}
        </dd>
        </dl>
    </div>
    <div class="col-md-3 col-sm-4">
        <dl>
            <dt>Predicted final product</dt>
        <dd>
        {% with architecture|last as lastsubunit %}
            {% with lastsubunit.1|last as lastmodule %}
                <img style="width: 100% \9;" alt="Predicted final product" data-smilesq="{{ lastmodule.0.product.smiles|urlq }}" data-smiles="{{ lastmodule.0.product.smiles }}" src="/compounddb/renderer/{{ lastmodule.0.product.smiles|urlq }}/{{ cluster.knownProductMCS|urlq }}?align=False;smarts=True;"/>
            {% endwith %}
        {% endwith %}
        </dd>
        </dl>
    </div>
</div>

{% for subunit in architecture %}
<div class="panel panel-default">
    <div id={{ subunit.0.name }}  class="panel-heading">
        {{ subunit.0 }}
    </div>
    <div class="panel-body">
        <div class="row">
            {% for module in subunit.1 %}
                {% if module.1|length == 5 %}
                    <div class="col-md-4 col-sm-6">
                {% else %}
                    {% if module.1|length > 5 %}
                        <div class="col-md-5 col-sm-6">
                    {% else %}
                        <div class="col-md-3 col-sm-4">
                    {% endif %}
                {% endif %}
                {% if module.0.order == mark %}
                    <mark>module {{ module.0.order }}</mark>
                {% else %}
                    module {{ module.0.order }}
                {% endif %}
                <br/>
                <div class="btn-group" role="group">
                    {% for domain in module.1 %}
                    {% with domain|classname as domainclass %}
                    {% if domainclass in notips %}
                    <button type="button" class="btn btn-default" data-domain="{{ domainclass }}">{{ domainclass }}</button>
                    {% else %}
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-domain="{{ domainclass }}" title="{{ domain }}">{{ domainclass }}</button>
                    {% endif %}
                    {% endwith %}
                    {% endfor %}
                </div>
                <br/>
                <img style="width: 100% \9;" alt="{{ subunit.0 }} module {{ module.0.order }} predicted product" data-smilesq="{{ module.0.product.smiles|urlq }}" data-smiles="{{ module.0.product.smiles }}" src="/compounddb/renderer/{{ module.0.product.smiles|urlq }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

<script>
$(document).ready(function(){
// code to enable bootstrap tooltips
    $('[data-domain="AT"]').tooltip({
      placement: 'bottom',
      trigger: 'manual'
    });
    $('[data-domain="KR"]').tooltip({
      placement: 'top',
      trigger: 'manual'
    });
    $('[data-domain="DH"]').tooltip({
      placement: 'right'
    });
    $('[data-domain="ER"]').tooltip({
      placement: 'right'
    });
    $('[data-domain="cMT"]').tooltip({
      placement: 'right'
    });
    $('[data-domain="oMT"]').tooltip({
      placement: 'right'
    });
    $('[data-domain="TE"]').tooltip({
      placement: 'right'
    });

    // code to enable domain popups on checkboxes
    $("#atcheck").on("click", function() {
        if($("#atcheck").is(':checked')){
            $('[data-domain="AT"]').tooltip('show');
        } else {
            $('[data-domain="AT"]').tooltip('hide');
        }
    });
    $("#krcheck").on("click", function() {
        if($("#krcheck").is(':checked')){
            $('[data-domain="KR"]').tooltip('show');
        } else {
            $('[data-domain="KR"]').tooltip('hide');
        }
    });

    // keep tooltip up after hover if checkbox is checked 
    $('[data-domain="AT"]').hover(
      function() {
        if(!($("#atcheck").is(':checked'))){
            $( this ).tooltip('show');
        }
      }, function() {
        if(!($("#atcheck").is(':checked'))){
            $( this ).tooltip('hide');
        }
      }
    );
    $('[data-domain="KR"]').hover(
      function() {
        if(!($("#krcheck").is(':checked'))){
            $( this ).tooltip('show');
        }
      }, function() {
        if(!($("#krcheck").is(':checked'))){
            $( this ).tooltip('hide');
        }
      }
    );

    // code to enable structure zoom modal
    $('[data-smiles]').click(function(){
        $('#structureImg').attr("src", $( this ).attr("src"));
        $('#structureTitle').text($( this ).attr("alt"));
        $('#structureSMILES').text($( this ).attr("data-smiles"));
        var searchUrl = "/structureSearch/?smiles="
        $('#searchButton').attr("href", searchUrl.concat($( this ).attr("data-smilesq")));
        $('#structureView').modal('show');
    });

// code to allow clipboard button
    var clipboard = new Clipboard('#copy');
    clipboard.on('success', function(e) {
      setTooltip(e.trigger, 'Copied!');
      hideTooltip(e.trigger);
    });

    $('#copy').tooltip({
      trigger: 'click',
      placement: 'bottom'
    });
});

    function setTooltip(btn, message) {
      $(btn).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, 1000);
    }
</script>
<script src="/static/js/clipboard.min.js"></script>

<!-- Modal -->
<div class="modal fade" id="structureView" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="structureTitle" class="modal-title"></h4>
      </div>
      <div class="modal-body">

SMILES
<textarea id="structureSMILES" class="form-control" rows="2"></textarea>
<div class="btn-group" role="group">
<button id="copy" class="btn btn-default" data-clipboard-target="#structureSMILES">
Copy to clipboard
</button>
<a href="#" id="searchButton" class="btn btn-default" role="button">Send to structure search</a>
</div>

                <img id="structureImg" class="img-responsive" style="width: 50%;" src=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
