appdirs==1.4.3
backports-abc==0.5
biopython==1.70
bleach==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
cobra==0.8.1
colorama==0.3.9
cycler==0.10.0
deap==1.0.2.post2
decorator==4.1.2
Django==1.11.4
django-bootstrap3==9.0.0
django-model-utils==3.0.0
django-redis==4.8.0
entrypoints==0.2.3
future==0.16.0
gunicorn==19.7.1
html5lib==0.999999999
idna==2.5
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyterlab==0.26.4
jupyterlab-launcher==0.3.1
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mpmath==0.19
nbconvert==5.2.1
nbformat==4.3.0
notebook==5.0.0
numpy==1.13.1
olefile==0.44
optlang==1.2.1
packaging==16.8
pandas==0.20.3
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-igraph==0.7.1.post6
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.0
redis==2.10.5
requests==2.18.2
ruamel.yaml==0.15.22
scikit-learn==0.18.2
scipy==0.19.1
seaborn==0.8
simplegeneric==0.8.1
six==1.10.0
swiglpk==1.4.3
sympy==1.1.1
tabulate==0.7.7
terminado==0.6
testpath==0.3.1
tornado==4.5.1
TPOT==0.8.3
tqdm==4.15.0
traitlets==4.3.2
typing==3.6.1
update-checker==0.16
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.0
xgboost==0.6a2
