{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
<h3>Overview</h3>
</div>

<div class="row-fluid">
ClusterCAD provides a database and web-based toolkit designed to enable researchers to harness the potential of type I modular polyketide synthases and nonribosomal peptide synthetases for combinatorial biosynthesis. We provide tools to identify a truncated PKS or NRPS as a starting point for domain exchange experiments given a small molecule target, and to select subunits as catalytic domain donors to alter a PKS module’s acyltransferase, ketoreductase, and reductive cassette or a NRPS module's adenylation, methylation, epimerization, and heterocyclization domains. 
<br><br>
Please <a href='/about/#citation'>cite</a> us if you use ClusterCAD for published research.

</div>

<div class="row-fluid">

  <img src="static/clustercad2.0_homepage_abstract_crop.png" alt="ClusterCAD 2.0 Updates - Graphical Abstract" width="600" height="450" class="img-responsive center-block">
  <p class="text-center">Overview of New ClusterCAD 2.0 Features</p>
<!--
  <video
  class="center-block"
  controls="true"
  width=720
  height=480
  name="Tutorial Screencast">
  <source src="/static/clustercad_screencast.mp4" type="video/mp4" />
<img class="img-responsive center-block" width=350 height=350 src="/compounddb/renderer/CC%5BC%40H%5D1OC%28%3DO%29%5BC%40H%5D%28C%29%5BC%40%40H%5D%28O%5BC%40H%5D2C%5BC%40%40%5D%28C%29%28OC%29%5BC%40%40H%5D%28O%29%5BC%40H%5D%28C%29O2%29%5BC%40H%5D%28C%29%5BC%40%40H%5D%28O%5BC%40%40H%5D2O%5BC%40H%5D%28C%29C%5BC%40%40H%5D%28%5BC%40H%5D2O%29N%28C%29C%29%5BC%40%5D%28C%29%28O%29C%5BC%40%40H%5D%28C%29C%28%3DO%29%5BC%40H%5D%28C%29%5BC%40%40H%5D%28O%29%5BC%40%5D1%28C%29O/350?align=False"></img>
</video>
-->

</div>

{% endblock %}
