{% extends "base.html" %}

{% block content %}
<div class="page-header">
<h2>Overview</h2>
</div>

ClusterCAD provides a database and web-based toolkit designed to enable researchers to harness the potential of type I modular polyketide synthases for combinatorial biosynthesis. We provide tools to identify a truncated PKS as a starting point for domain exchange experiments given a small molecule target, and to select subunits as catalytic domain donors to alter a module’s acyltransferase, ketoreductase, or reductive cassette.

{% endblock %}
