{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
<h3>Overview</h3>
</div>

<div class="row-fluid">
ClusterCAD provides a database and web-based toolkit designed to enable researchers to harness the potential of type I modular polyketide synthases for combinatorial biosynthesis. We provide tools to identify a truncated PKS as a starting point for domain exchange experiments given a small molecule target, and to select subunits as catalytic domain donors to alter a module’s acyltransferase, ketoreductase, or reductive cassette. View the video below for a quick tutorial.
</div>

<div class="row-fluid">
<video
  class="center-block"
  controls="true"
  width=720
  height=480
  name="Tutorial Screencast">
  <source src="/static/clustercad_screencast.mp4" type="video/mp4" />
</video>
</div>

{% endblock %}
