{% extends 'base.html' %}

{% block extra_headers %}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/static/ChemDoodle/ChemDoodleWeb.css" type="text/css">
<link rel="stylesheet" href="/static/ChemDoodle/sketcher/jquery-ui-1.9.2.custom.css" type="text/css">
{% endblock %}

{% block js_content %}
<script type="text/javascript">
function do_example(){
  $("#smiles").get(0).value = 'CC1C(C(=O)NC(C(=O)N2CCCC2C(=O)N(CC(=O)N(C(C(=O)O1)C(C)C)C)C)C(C)C)NC(=O)C3=C4C(=C(C=C3)C)OC5=C(C(=O)C(=C(C5=N4)C(=O)NC6C(OC(=O)C(N(C(=O)CN(C(=O)C7CCCN7C(=O)C(NC6=O)C(C)C)C)C)C(C)C)C)N)C';
  $(".examplehelp").fadeIn(1000);
}

$(document).ready(function() {
$("#loadexample").click(function() {
do_example();
return false;
});
$("#smiles").after("<span class=\"red examplehelp\" style=\"position:relative;left:100px;display:none\" ><br/>&uarr;<br/>example SMILES string inserted<br/><span>");

var here = document.location.toString();
if (here.match('#')) {
  var anchor = here.split('#')[1];
  if (anchor == 'example')
    $("#loadexample").hide().click();
}
});
</script>

<script type="text/javascript">
$(document).ready(function() {
	$("#drawform").submit(function() {
		$(this).get(0).sdf.value = document.applet.molFile();
		if(!document.applet.smiles().replace(' ', '').length()) {
			alert("You need to draw a query structure.");
			return false;
		}
		return true;
	});
});
</script>

<!--these are required by the ChemDoodle Web Components library-->
<script type="text/javascript" src="/static/ChemDoodle/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript">
        $.noConflict();
</script>
<script type="text/javascript" src="/static/ChemDoodle/sketcher/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/ChemDoodle/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="/static/ChemDoodle/sketcher/ChemDoodleWeb-sketcher.js"></script>
<script type="text/javascript">
        var sketcher;
        $(document).ready(function() {
                sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:false, oneMolecule:true});

                $("[data-toggle=tooltip]").tooltip();

                jQuery("#use_sample").click(function() {
                        jQuery("#smiles").get(0).value = sample_smi;
                        return false;
                });
        });

        $("#drawform").submit(function() {
                var mol = sketcher.getMolecule();
                $(this).get(0).sdf.value = ChemDoodle.writeMOL(mol);
                return true;
        });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
<h2>Search Predicted Module Intermediate Structures</h2>
</div>
</div><!--/row-->


<div class="row-fluid">
</div><!--/row-->

<div class="row-fluid">
<div class="span12">
<ul class="nav nav-tabs">
	<li class="active"><a href="#smiles-input" data-toggle="tab">SMILES Input</a></li>
	<li><a href="#draw" data-toggle="tab">Structural Drawing</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="smiles-input">
<form action="." method="post" accept-charset="utf-8">
{% csrf_token %}

    <label class="control-label" for="smiles">SMILES:</label>
    <textarea id="smiles" name="smiles" class="form-control" rows="2">{{ smiles }}</textarea>

    <table>
    <tr><td>
        Minimum Similarity Cutoff:
    </td><td>
        <select name="cutoff" id="cutoff">
        <option value="0.1">0.1</option>
        <option value="0.0">0.0</option>
        <option value="0.2">0.2</option>
        <option value="0.3">0.3</option>
        <option value="0.4">0.4</option>
        <option value="0.5">0.5</option>
        <option value="0.6">0.6</option>
        <option value="0.7">0.7</option>
        <option value="0.8">0.8</option>
        <option value="0.9">0.9</option>
        <option value="1.0">1.0</option>
    </td></tr>
    <tr><td>
        Max Compounds Returned:
    </td><td>
        <select name="maxCompounds" id="maxCompounds">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
    </td></tr>
    </table>
    
    <table>
        <tr><th>
        </th><td>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Search</button>
                    <button class="btn" id="loadexample">Load an example query</button>
                    <button class="btn" type="reset">Clear entry field</button>
                </div>
        </td></tr>
    </table>
	
</form>
</div>

<div class="tab-pane" id="draw">
        <p>
        The center dot is a carbon atom. To add bonds, choose a bond type and click the central atom. To replace atoms, choose an element and click the atom you would like to replace.
        </p>
        <canvas id="sketcher"></canvas>
        <form id="drawform" action="." method="post" accept-charset="utf-8">
        {% csrf_token %}
        <input type="hidden" name="sdf" value="{{post_data.sdf}}"/><br/>
        <input type="hidden" name="draw" value="1"/>

    <table>
    <tr><td>
        Minimum Similarity Cutoff:
    </td><td>
        <select name="cutoff" id="cutoff">
        <option value="0.1">0.1</option>
        <option value="0.0">0.0</option>
        <option value="0.2">0.2</option>
        <option value="0.3">0.3</option>
        <option value="0.4">0.4</option>
        <option value="0.5">0.5</option>
        <option value="0.6">0.6</option>
        <option value="0.7">0.7</option>
        <option value="0.8">0.8</option>
        <option value="0.9">0.9</option>
        <option value="1.0">1.0</option>
    </td></tr>
    <tr><td>
        Max Compounds Returned:
    </td><td>
        <select name="maxCompounds" id="maxCompounds">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
    </td></tr>
    </table>
    <table>
        <tr><th>
        </th><td>
                    <button class="btn btn-primary" type="submit">Search</button>
        </td></tr>
    </table>

</form>
</div>
</div>

</div>
</div><!--/row-->
{% endblock %}
