{% extends 'base.html' %}

{% block subtitle %}
structure search
{% endblock %}

{% block extra_headers %}
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link rel="stylesheet" href="/static/ChemDoodle/ChemDoodleWeb.css" type="text/css">
<link rel="stylesheet" href="/static/ChemDoodle/sketcher/jquery-ui-1.9.2.custom.css" type="text/css">
{% endblock %}

{% block js_content %}
<script type="text/javascript">
function do_example(){
   $("#smiles").val('C[C@H]1C[C@H](C[C@@H]([C@H](/C(=C\\C=C\\C[C@H](OC(=O)C[C@@H]([C@H](C1)C)O)[C@@H]2CCC[C@H]2C(=O)O)/C#N)O)C)C');
}

$(document).ready(function() {
$("#loadexample").click(function() {
do_example();
return false;
});
});
</script>

<script type="text/javascript">
$(document).ready(function() {
	$("#drawform").submit(function() {
		$(this).get(0).sdf.value = document.applet.molFile();
		if(!document.applet.smiles().replace(' ', '').length()) {
			alert("You need to draw a query structure.");
			return false;
		}
		return true;
	});
});
</script>

<!--these are required by the ChemDoodle Web Components library-->
<script type="text/javascript" src="/static/ChemDoodle/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript">
        $.noConflict();
</script>
<script type="text/javascript" src="/static/ChemDoodle/sketcher/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/static/ChemDoodle/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="/static/ChemDoodle/sketcher/ChemDoodleWeb-sketcher.js"></script>
<script type="text/javascript">
        var sketcher;
        $(document).ready(function() {
                sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:false, oneMolecule:true});

                $("[data-toggle=tooltip]").tooltip();

                jQuery("#use_sample").click(function() {
                        jQuery("#smiles").get(0).value = sample_smi;
                        return false;
                });
        });

        $("#drawform").submit(function() {
                var mol = sketcher.getMolecule();
                $(this).get(0).sdf.value = ChemDoodle.writeMOL(mol);
                return true;
        });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12">
<h2>
Selecting a starting point for engineering<br/>
<small class="text-muted">search predicted module intermediates based on a target small molecule</small>
</h2>
</div>
</div><!--/row-->


<div class="row-fluid">
</div><!--/row-->

<div class="row-fluid">
<div class="span12">
<ul class="nav nav-tabs">
	<li class="active"><a href="#smiles-input" data-toggle="tab">SMILES Input</a></li>
	<li><a href="#draw" data-toggle="tab">Structural Drawing</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="smiles-input">
<form action="." method="post" accept-charset="utf-8">
{% csrf_token %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="smiles">SMILES string</label>
          <textarea class="form-control" rows="2" name="smiles" id="smiles">{{ smiles }}</textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-5">
        <div class="form-group">
          <label for="cutoff">Minimum Tanimoto similarity cutoff</label>
                <select class="form-control" name="cutoff" id="cutoff">
                    <option value="0.0">0.0 (return all hits)</option>
                    <option value="0.1">0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                    <option value="0.6">0.6</option>
                    <option value="0.7">0.7</option>
                    <option value="0.8">0.8</option>
                    <option value="0.9">0.9</option>
                    <option value="1.0">1.0 (perfect match only)</option>
                </select>
        </div>

        <div class="form-group">
          <label for="maxCompounds">Max compounds returned</label>
                <select class="form-control" name="maxCompounds" id="maxCompounds">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-default" id="loadexample">Load an example query</button>
                <button class="btn btn-default" type="reset">Reset entry field</button>
            </div>
        </div>
    </div>
</div>
	
</form>
</div>

<div class="tab-pane" id="draw">
        <p>
        The center dot is a carbon atom. To add bonds, choose a bond type and click the central atom. To replace atoms, choose an element and click the atom you would like to replace.
        </p>
        <canvas id="sketcher"></canvas>
        <form id="drawform" action="." method="post" accept-charset="utf-8">
        {% csrf_token %}
        <input type="hidden" name="sdf" value="{{post_data.sdf}}"/><br/>
        <input type="hidden" name="draw" value="1"/>

<div class="row">
    <div class="col-md-4 col-sm-5">
        <div class="form-group">
          <label for="cutoff">Minimum Tanimoto similarity cutoff</label>
                <select class="form-control" name="cutoff" id="cutoff">
                    <option value="0.0">0.0 (return all hits)</option>
                    <option value="0.1">0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                    <option value="0.6">0.6</option>
                    <option value="0.7">0.7</option>
                    <option value="0.8">0.8</option>
                    <option value="0.9">0.9</option>
                    <option value="1.0">1.0 (perfect match only)</option>
                </select>
        </div>

        <div class="form-group">
          <label for="maxCompounds">Max compounds returned</label>
                <select class="form-control" name="maxCompounds" id="maxCompounds">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
</form>
</div>
This tool uses atom pair descriptors with the Tanimoto similarity metric. Stereoisomers will appear as separate hits, with identical scores.
</div>

</div>
</div><!--/row-->
{% endblock %}
